* {
  /* Resetando predefinição do navegador*/
  margin: 0;
  padding: 0;
}
body {
  background-color: #0e1014;
  color: #ffffff;
}
#divisaotitulo {
  color: #8233e8;
}

h1 {
  font-family: "unbounded", sans-serif;
  font-size: 64px;
  font-weight: bold;
}
p {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: regular;
}

#botao {
  color: #ffffff;
  font-size: 24px;
  text-decoration: none; /* Tira linha embaixo do link*/
  background-color: #8233e8;
  /*Define tamanho do botão*/
  display: block; /*Permite que a gente mexa no tamanho e altura*/
  width: 340px;
  height: 66px;
  text-align: center; /*Centreliza texto botão*/
  line-height: 66px;
  border-radius: 32px;
}
